.red {
    color: red;
}

.title {
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
.myImg{
    width: 1600px;
    height: 1010px;
}
img{
    width: 1600px;
    height: 1010px;
}
